div.inputError {
  color: #cf6679;
}

div.inputError p {
  margin-bottom: 0px;
  font-size: 1.4rem;
}

.form-control.error {
  border: #cf6679 2px solid;
}

.form-label.error {
  color: #cf6679;
}

.form-group {
  margin-bottom: 0px;
}

label.form-label {
  margin-top: 1rem;
  font-size: 1.8rem;
}

button.loginButton.btn.btn-outline-info {
  margin-top: 1rem;
  font-size: 1.4rem;
}

div.buttonAndSpinner {
  display: flex;
  align-items: center;
}

.progressSpinner {
  margin-top: 1rem;
  margin-left: 10px;
}

.loginForm {
  background-color: rgb(52, 58, 54);
  border-radius: 0.8rem;
  margin: auto;
  margin-top: 4.8rem;
  padding: 1.6rem 4.8rem;
  width: 50%;
  align-self: center;
  color: white;
}

h1.formTitle {
  font-size: 4rem;
}

input.form-control {
  font-size: 1.4rem;
}

small {
  font-size: 1.3rem;
}
